sys::Uri[`Equip TypeAHU.dfunc`,`Equip TypeRTU.dfunc`,`Discharge Temp.dfunc`,`Discharge Fan.dfunc`,`Room Temp.dfunc`,`Cool.dfunc`,`Heat.dfunc`,`Mixed Air Damper.dfunc`,`Outside Air Damper.dfunc`,`Return Air Damper.dfunc`,`Exhaust Air Damper.dfunc`,`Return Temp.dfunc`,`Filter.dfunc`,`Condensor Fan.dfunc`,`Fan.dfunc`,`Equip ElecMeter.dfunc`,`kw.dfunc`,`Equip.dfunc`,`Point.dfunc`]